.App {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; */
  height: 100vh;
  width: 100vw;
}

body, html {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  width: 85%;
  height: 100%;
}