.wrapper-main {
  display: flex;
  flex-direction: row;
  height: 85%
}

.wrapper-left {
  background-color:rgb(232, 253, 253);
  flex-direction: column;
  display: flex;
  flex: 5;
  /* justify-content: space-between; */
  height: 100%;
  padding-left: 10px;
}

.wrapper-right {
  background-color:rgb(232, 253, 253);
  display: flex;  
  flex-direction: row;
  flex: 10  ;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* .list {
  background-color:aqua;
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: center;
} */

