.wrapper {
  background-color:rgb(232, 253, 253);
  display: flex;  
  justify-content: space-between;
  height: 85%;
}

.list {
  background-color:aqua;
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: center;
}

