.wrapper-profile {
  all: initial;
  display: flex;
  background-color:rgb(232, 253, 253);
  height: 85%
}

.profile {
  display: flex;
  border-color: black;
  background-color:rgb(232, 253, 253);
  height: 97.5%;
  width: 100%;
  padding: 10px;
}

.profile1 {
  display: flex;
  flex-direction: column;
  background-color:rgb(232, 253, 253);
  height: 100%;
  width: 20%;
}

.profile2 {
  display: flex;
  flex-direction: column;
  background-color:rgb(232, 253, 253);
  height: 100%;
  width: 20%;
}